<form [formGroup]="eventForm" >
  <div>
    <label>number of event source</label>
    <input type="number" formControlName="numberOfEvent">
  </div>
  <button (click)="onSubmit()">submit</button>
</form>

<h1>{{countOfEventSource}}</h1>

<form [formGroup]="secondForm" >
  <div>
    <label>number of event source</label>
    <input type="number" formControlName="numberOfEvent">
  </div>
  <button (click)="secondSubmit()">submit</button>
</form>

<h1>{{secondCountOfEventSource}}</h1>

<table *ngIf="dataSource.length > 0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>AccessKey</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of dataSource">
    <td>{{ user.userId }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.userEmail }}</td>
    <td>{{ user.userRole }}</td>
    <td>{{ user.accessKey }}</td>
  </tr>
  </tbody>
</table>
